<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="css/template.css">
	<link rel="stylesheet" type="text/css" href="font/iconfont.css">
</head>
<body>
	<div class="top">
		<div class="top-wrap">
		  <span class="top-left">******** 欢迎您！！！</span>
		  <div class="top-menu">
			<a href="">设为首页</a>
			<a href="">微信关注</a>
			<a href="">联系我们</a>
		  </div>
		</div>
	</div>

	<div class="header">
		<div class="logo"><img src="css/img/logo.jpg"></div>
		<div class="pull-left">
			<div class="name">****************有限公司</div>
			<div class="en-name">************************ Information Technology Co., Ltd
			</div>
		</div>
			<div class="header-phone">
				<span class="iconfont phone">&#xe646;</span>
				<div class="pull-right">
				   <div class="header-phone-title">免费咨询热线:</div>
				   <div class="header-phone-number"> 000-0000-0000</div>
				</div>
			</div>
		</div>

		<div class="nav-wrap">
			<div class="nav">
				<ul>
					<a>首页</a>
					<a>关于我们</a>
					<a>业务内容</a>
					<a>新闻中心</a>
					<a>经典案例</a>
					<a>管理平台</a>
					<a>联系我们</a>
				</ul>
				<div class="search">
					<input type="text" name="search">
					<button><span class="iconfont">&#xe617;</span></button>
				</div>
			</div>
		</div>

		<div class="banner">
			<a href="">
				<img src="img/banner.jpg" width=100%>
			</a>
		</div>

		<div class="introdu clearfix">
			<div class="box">
				<img src="img/compannyCulture.jpg" class="img1">
				<div class="title">企业文化 
					<div class="bar"></div>
				</div>
				<p>*********科技有限公司成立于2015年7月，总部位于古城西安，目前共有**************科技有限公司成立于2015年7月</p>
			</div>
			<div class="box">
				<img src="img/ServicePromission.jpg" class="img2">
				<div class="title">服务承诺
					<div class="bar"></div>
				</div>
				<p>*********科技有限公司成立于2015年7月，总部位于古城西安，目前共有**************科技有限公司成立于2015年7月</p>
			</div>
			<div class="box">
				<img src="img/Organization.jpg" class="img3">
				<div class="title">机构组织
					<div class="bar"></div>
				</div>
				<p>*********科技有限公司成立于2015年7月，总部位于古城西安，目前共有**************科技有限公司成立于2015年7月</p>
			</div>
		</div>
		
		<div class="aboutus-wrap">
			<div class="aboutus">
				<div class="module">
					<div class="title">关于********</div>
					<div class="en-title">ABOUT US</div>
					<div class="bar"></div>
				</div>
				<div class="words">为客户提供最优质的整体解决方案</div>
				<p>      **************有限公司于2004年8月11日在西安成立，是经陕西省建设厅审核批准，建设部备案的工程造价咨询甲级资质、招标代理乙级、政府采购代理乙级资质单位。经过10年的发展，公司的各项业务发展已初具规模。公司在业务发展中注重专业化、标准化、规范化的建设，使公司逐步向高水准、全方位服务方向迈进，得到了社会相关行业的认可。陕西省建设厅审核批准，建设部备案的工程造价咨询甲级资质、招标代理乙级、政府采购代理乙级资质单位。经过10年的发展，公司的各项业务发展已初具规模。公司在业务发展中注重专业化、标准化、规范化的建设，使公司逐步向高水准、全方位服务方向迈进，得到了社会相关行业的认可陕西省建设厅审核批准，建设部备案的工程造价咨询甲级资质、招标代理乙级、政府采购代理乙级资质单位。经过10年的发展，公司的各项业务发展已初具规模。公司在业务发展中注重专业化、标准化、规范化的建设，使公司逐步向高水准、全方位服务方向迈进，得到了社会相关行业的认可陕西省建设厅审核批准，建设部备案的工程造价咨询甲级资质、招标代理乙级、政府采购代理乙级资质单位。经过10年的发展，公司的各项业务发展已初具规模。公司在业务发展中注重专业化、标准化、规范化的建设，使公司逐步向高水准、全方位服务方向迈进，得到了社会相关行业的认可......<a href="">[了解更多]</a></p>
				<ul class="imgList">
					<li><img src="img/pic1.jpg"></li>
					<li><img src="img/pic2.jpg"></li>
					<li><img src="img/pic3.jpg"></li>
				</ul>
			</div>
		</div>

		<div class="business">
				<div class="module">
					<div class="title">业务内容</div>
					<div class="en-title">BUSNIESS</div>
					<div class="bar"></div>
				</div>
				<ul class="clearfix">
					<a href="">
						<i class="pic1"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
					<a href="">
						<i class="pic2"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
					<a href="">
						<i class="pic3"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
					<a href="">
						<i class="pic4"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
					<a href="">
						<i class="pic5"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
					<a href="">
						<i class="pic6"></i>
						<div class="wrap pull-left">
							<div class="title">造价咨询业务</div>
							<div class="en-title">Cost consultation</div>
							<div class="bar"></div>
							<div class="contain">根据现行标准“建筑设计”文件编制深度规定及初步设......
							</div>
						</div>
					</a>
				</ul>
		</div>

		<div class="news clearfix">
			<div class="module">
					<div class="title">新闻中心</div>
					<div class="en-title">NEWS CENTER</div>
					<div class="bar"></div>
				</div>
				<ul class="item">
					<a href="">法律法规</a>
					<a href="">公司动态</a>
					<a href="">招标公告</a>
				</ul>
				<div class="law">
					<img src="img/law.jpg">
					<p>《中华人民共和国招标投标法》已由中华人民共和国第九届全国人民代表大会常务委员会第十一次会议......</p>
					<a class="detail">查看详情</a>
				</div>
				<ul class="nav">
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
					<a>
						<span class="heading">中华人民共和国招标投标法</span>
						<span class="date">2016/9/29</span>
						<div class="border"></div>
					</a>
				</ul>
		</div>

		<div class="subnav-wrap">
			<div class="subnav">
				<a class="item">首页</a>
				<a class="item">关于我们</a>
				<a class="item">业务内容</a>
				<a class="item">新闻中心</a>
				<a class="item">经典案例</a>
				<a class="item">管理平台</a>
				<a class="item">练习我们</a>
				<a class="item">返回顶部<div class="QRcode"></div></a>
			</div>
		</div>

       <div class="footer-wrap">
		<footer class="clearfix">
			<div class="words">
				<span class="copyright">Copyright © 2008-2014 Lefeng </span>
			    <p>www.*******.com  **********</p>
			    <p>有限公司公司地址：**************************</p>
			    <p>Email: **********@qq.com  |   联系手机：***************</p>
			    <p>技术支持：**********</p>
			</div>
			<div class="bar"></div>
			<img src="img/phone.jpg" class="phone">
			<div class="info clearfix">
			<div class="consult">咨询热线；</div>
			<div class="number">000-0000-0000</div>
			<span class="time">（周一至周五9:00-22:00）</span>
			</div>
		</footer>
	   </div>
</body>
</html>