@import './global.css';
@mixin cover(){
	position:absolute; left:0; top:0; right:0; bottom:0;
}
$imgurl:../;
$inputcolorS:#fff;
$inputcolorM:#626262;
$inputcolorL:#71b35c;
.am_css{transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;}
.aligncenter{text-align:center;}
@mixin mc($bg,$pictype:png,$left:0,$top:0){
	background:url($(imgurl)img/$bg.$pictype) no-repeat 0 0 /cover;
	width:width('$(imgurl)img/$bg.$pictype');
	height:height('$(imgurl)img/$bg.$pictype');
	position:absolute;
	top:$(top)px;
	left:$(left)px;
}
@mixin btn($width,
	$height,
	$bgcolor,
	$radius,
	$position,
	$left,
	$top,
	$leterspacing){
	width:$(width)px;
	height:$(height)px;
	background-color:$bgcolor;
	border-radius:$(radius)px;
	position:$position;
	left:$(left)px;
	top:$(top)px;
	color:#fff;
	line-height:$(height)px;
	font-size:36px;
	letter-spacing:$(leterspacing)px;
	text-align:center;
}
@mixin input($width,
	$height,
	$lineheight,
	$bgcolor,
	$position,
	$left,
	$top,
	$fontsize){
	width:$(width)px;
	height:$(height)px;
	background-color:$bgcolor;
	border:none;
	position:$position;
	left:$(left)px;
	top:$(top)px;
	color:#fff;
	line-height:$(lineheight)px;
	font-size:$(fontsize)px;
	text-align:left;
}
@mixin avatar($width,
	$height,
	$position,
	$left,
	$top){
	width:$(width)px;
	height:$(height)px;
	position:$position;
	left:$(left)px;
	top:$(top)px;
}

.loading{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #f3f2ee;
	.loading-text-wrap{
		background: url(../img/loading_bg.png) no-repeat 0 0 / cover;
		width: 100%;
		height: 452px;
		position: absolute;
		top: 257px;
		left:0;
		.text{
			position: absolute;
			top: 337px;
			left:0;
			text-align: center;
			width: 100%;
		}
		.percent{
			position: absolute;
			top: 388px;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}
	.cloud{
		background: url(../img/loading_cloud.png);
		background-position: 0% center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 1980px;
		height: 480px;
		position: absolute;
		top: 569px;
		left: 0;
		/*transition:all 10s ease-in-out;transform:translateX(-100px);*/
	}

	.cp{
		position: absolute;
		bottom: 27px;
		left: 0;
		text-align: center;
		width: 100%;
	}
}
			@keyframes coverTextAnimation{
				0%{height: 0px}
				10%{height: 10px}
				20%{height: 50px}
				30%{height: 200px}
				100%{height: 638px}
			}
@keyframes personAnimation{
	100%{background-position: -571px  0}
}
.item-wrap{
	position: absolute;left: 0;top: 0;width: 100%;height: 100%;

	ul{
		position: absolute;left: 0;top: 0;width: 100%;height: 100%;
		transition:all  ease-in-out 0.5s;
		li{
			position: relative;width: 100%;height: 100%;
		}
		.cover{
			display: none;
			background:url(../img/cover_bg.png) no-repeat 0 0 /cover;
			.cover-text{
				background-image: url(../img/cover_text.png);
				background-position: 0 0 ;
				background-repeat: no-repeat;
				background-size: cover;
				width: 356px;
				height: 638px;
				position: absolute;
				left: 138px;
				top: 382px;
			}
			.cover-text-am{
				animation: coverTextAnimation 8s linear both;
			}

		}
		.choose{
			display: none;
			background:url(../img/choose_bg.png) no-repeat 0 0 /cover;
			.choose-text{
				position: absolute;
				left:54px;
				top: 270px;
				text-align: left;
				width: 532px;
				height: 198px;
				line-height: 50px;
				font-size: 36px;
				color: #333;
			}
			.btn{
					position: absolute;
					left: 54px;
					top: 467px;
					width: 532px;
					.btn-boy,.btn-girl{
						position: absolute;
						left:48px;
						top: 0;
						width: 144px;
						height: 297px;
						background: url(../img/choose_boy.png) no-repeat 0 0 /cover;

					}
					.btn-girl{
						left:326px;
						background: url(../img/choose_girl.png) no-repeat 0 0 /cover;
					}
				}
		}
		 /*<div class="share-btn"></div>
                 <div class="person"></div>
                 <div class="desk"></div>
                 <div class="floor"></div>
                 <div class="btns"></div>*/
		.main{
			display: none;
			background: #f3f2ee;
				background: url(../img/mainscene_bg.png) no-repeat 0 0 / cover;
			.share-btn{
				background: url(../img/share_btn.png) no-repeat 0 0 / cover;
				width: width('../img/share_btn.png');
				height: height('../img/share_btn.png');
				position: absolute;
				top: 40px;
				right: 36px;
			}
			.person{
				background: url(../img/ms_taijian.png) no-repeat 0 0 / cover;
				width: 285px;
				height: 542px;
				position: absolute;
				right: 186px;
				bottom: 261px;
				animation: personAnimation 1s steps(2,end) infinite;
			}
			.desk{
				background: url(../img/mainscene_table.png) no-repeat 0 0 / cover;
				width: 603px;
				height: 228px;
				position: absolute;
				right:35px;
				bottom: 261px;
			}
			/*.floor{
				background: url(../img/mainscene_bg.png) no-repeat 0 0 / cover;
				width: 640px;
				height: 1136px;
				position: absolute;
				right:0;
				bottom: 0;
				z-index: -1;
			}*/
			.btns{
				background: #292929;
				position: absolute;
				bottom: 0;
				right:0;
				height: 141px;
				width: 100%;
				.btn{
					background:url(../img/mainscene_zhong.png) no-repeat 0 0 /cover;
					width:90px;
					height: 141px;
					position: absolute;
					left:10px;
				}
				.btn-upgradeperson{

				}
			}
		}
		.answer{
			display: none;
			background-color: #f3f2ee;
			
			             	/*<div class="title"></div>
							<div class="result-options">
								<div class="opt">
									<span>A:选项a</span>
									<div class="animation-correct"></div>
								</div>

							</div>
							<div class="num-count"></div>*/
			.answer-box{
				.bg-s{
					background: url(../img/answer_bg.jpg) no-repeat 0 0 /cover;
					width: width('../img/answer_bg.jpg');
					height: height('../img/answer_bg.jpg');
					position: absolute;
					left: 0;
					bottom: 0;
				}
				filter: blur(10px);
				.title{
					font-size: 30px;
					color: #000;
					position: absolute;
					width: 536px;
					height: 124px;
					left:50px;
					top:200px;
					line-height: 62px;
				}
				.result-options{
					position: absolute;
					left:50px;
					top: 354px;
					.opt{
						margin-bottom: 40px;
						border-radius: 7px;
						padding: 12px 0 0 22px;
						width: 520px;
						height: 113px;
						background: #e0ded7;
						position: relative;
						box-sizing: content-box;
						span{
							font-size: 26px;
						}
						.animation-correct{
							background: url(../img/answer_correct.png) no-repeat 0 0/cover;
							width: width('../img/answer_correct.png');
							height: height('../img/answer_correct.png');
							position: absolute;
							right: 25px;
							top: 18px;
						}
					}
					.current{background-color: #fff}
				}
				.num-count{
					position: absolute;
					top: 962px;
					left: 0;
					width: 100%;
					text-align: center;
					color: #333;
					font-size: 36px;
					span{
						color: #da464d;

					}
				}
			}
			

			/*<div class="result-wp">
				<div class="title"></div>
				<div class="result-flag"></div>
				<div class="result-text"></div>
			</div>*/
			.result-box{
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.6);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				.result-wp{
					/*background: url(../img/answer_success_bg.png) no-repeat 0 0 /cover;
					width:width('../img/answer_success_bg.png');
					height: height('../img/answer_success_bg.png');
					position: absolute;
					left: 31px;
					top: 288px;*/
					@include mc(answer_success_bg,png,31,288);
					.title{
						font-size: 75px;
						color: #ce3e3e;
						margin-top: 116px;
						text-align: center;
						line-height: 71px;
					}
					.result-flag{
						background: url(../img/answer_cat.png) no-repeat 0 0/cover;
						width:width('../img/answer_cat.png');
						height: height('../img/answer_cat.png');
						margin: 0 auto;
					}
					.result-text{
						text-align: center;
						width: 100%;

					}
				}
			}
			
		}
	}
}