html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,i,b,s{margin:0;padding:0;border:0;font-family:Helvetica,Arial}
ul,ol{list-style:none}
body,html{background-color: #fdeb01;overflow: hidden;width: 100%;height: 100%;}

.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f3f2ee;
	.loading-text-wrap{
		width: 640px;
		height: 452px;
		background: url(../img/loading_bg.png) 0 0 no-repeat /cover;
		position: absolute;
		left: 0;
		top: 257px;
		.text{
			position: absolute;
			text-align: center;
			width: 100%;
			top: 337px;
			left: 0;
			color: #7f7f7f;
			font-size: 18px;
		}
		.percent{
			position: absolute;
			top: 388px;
			left: 0;
			width: 100%;
			text-align: center;
			color: #5d5d5d;
			font-size: 36px;
		}
	}
	.cloud{
		position: absolute;
		width: 1980px;
		height: 480px;
		background: url(../img/loading_cloud.png) no-repeat 0 0 /cover;
		top: 569px;
		left: 0;
	}
	.cp{
		position: absolute;
		width: 100%;
		bottom: 27px;
		text-align: center;
		color: #707070;
		font-size: 20px;
	}
}

@keyframes covertextam{
				0%{height:0;}
				10%{height: 22px;}
				20%{height:58px;}
				30%{height: 75px;}
				40%{height: 103px;}
				50%{height: 120px;}
				60%{height: 142px;}
				70%{height: 242px;}
				95%{height: 280px;}
				100%{height: 638px;}				
			}
@keyframes gesture{
				100%{background-position: -690px 0;}		
			}

.item-wrap{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transition: all 3s ease-in-out;
	ul{
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		li{
			position: relative;
			height: 100%;
			width: 100%;
		}
		.cover{
			background: url(../img/cover_bg.png) 0 0 no-repeat /cover;
			.cover-text{
				position: absolute;
				background: url(../img/cover_text.png) 0 0 no-repeat /cover;
				width: 356px;
				height: 0;
				left: 138px;
				top: 382px;
			}
		.cover-text-am{animation:covertextam 8s linear both;}
		}
		
		.choose{
			display: none;
			background: url(../img/choose_bg.png) 0 0 no-repeat /cover;
			.choose-text{
				position: absolute;
				left: 54px;
				top: 270px;
				text-align: center;
				width: 532px;
				height: 198px;
				line-height: 50px;
				font-size: 26px;
				color: #333;
				p{text-align: left;}
			}
			.btn{
				position: absolute;
				left: 54px;
				top: 467px;
				width: 532px;
				.btn-boy{
					position: absolute;
					left: 48px;
					width: 144px;
					height: 297px;
					background: url(../img/choose_boy.png) 0 0 no-repeat /cover;
				}
				.btn-girl{
					position: absolute;
					left: 326px;
					top: 0;
					width: 144px;
					height: 297px;
					background: url(../img/choose_girl.png) 0 0 no-repeat /cover;
				}
			}
		}

		.main{
			display: none;
			background-color: #f3f2ee;
			background: url(../img/mainscene_bg.png) 0 0 no-repeat /cover;
			.share-btn{
				background: url(../img/share_btn.png) no-repeat 0 0 /cover;
				/*width: 49px;
				height: 136px;*/
				width: width('share_btn.png');
				height: height('share_btn.png');
				position: absolute;
				top: 40px;
				right: 36px;
			}
			.person{
				background: url(../img/ms_taijian.png) no-repeat 4px 0/cover;
				width: 346px;
				height: 652px;
				position: absolute;
				bottom: 261px;
				right: 186px;
				animation: gesture 1s steps(2,end) infinite;
			}
			.desk{
				background: url(../img/mainscene_table.png) 0 0 no-repeat /cover;
				width: 603px;
				height: 228px;
				position: absolute;
				right: 35px;
				bottom: 261px;
			}
			.btns{
				background: #292929;
				position: absolute;;
				bottom: 0;
				right: 0;
				height: 141px;
				width: 100%;
				.btn{
					background: url(../img/mainscene_zhong.png) 0 0 no-repeat /cover;
					width: 90px;
					height: 139px;
					position: absolute;
					bottom: 0px;
					left: 10px;
				}
				.btn-upgradeperson{}
			}
		}

		.answer{
			display: none;
			background: url(../img/answer_bg.png) 0 0 no-repeat /cover;
			.answer-box{
				filter: blur(10px);
					.title{
					line-height: 62px;
					font-size: 30px;
					color: #000;
					position: absolute;
					width: 536px;
					height: 124px;
					left: 50px;
					top: 200px;
				}
				.result-options{
					position: absolute;
					left: 50px;
					top: 354px;
					.opt{
						margin-bottom: 40px;
						border-radius: 7px;
						box-sizing: content-box;
						padding: 12px 0 0 22px;
						width: 520px;
						height: 113px;
						background-color: #e0ded7;
						span{font-size: 26px;}
						.animation-correct{
							background: url(../img/answer_correct.png) 0 0 no-repeat /cover;
							width: width('answer_correct.png');
							height: height('answer_correct.png');
							position: absolute;
							right: 25px;
							top: 18px;
						}
					}
					.current{background-color: white;}
				}
				.num-count{
					position: absolute;
					top: 962px;
					left: 0;
					width: 100%;
					text-align: center;
					font-size: 36px;
					color: #333;
					span{
						color: #da464d;
					} 
				}
			}
			.result-box{
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.6);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				.result-wp{
					background: url(../img/answer_success_bg.png) 0 0 no-repeat /cover;
					width: width('answer_success_bg.png');
					height: height('answer_success_bg.png');
					position: absolute;
					left: 31px;
					top: 288px;
					.title{
						font-size: 75px;
						color: #ce3e3e;
						margin-top: 120px;
						text-align: center;
						line-height: 71px;
					}
	                .result-flag{
	                	background: url(../img/answer_cat.png) 0 0 no-repeat /cover;
	                	width: width('answer_cat.png');
						height: height('answer_cat.png');
						margin: 0 auto;
		                }
	                .result-text{
	                	text-align: center;
	                	width: 100%;
	                }
				}
			}
		}
	}
}