<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover""> 
    <link rel="stylesheet" type="text/css" href="../public/css/index.css?v=4a82e5ccbb">
<head>
	<title>大家</title>
</head>
<body>
	<div class="loading">
			<div class="loading-text-wrap">
				<div class="text">建议在WIFI下观看，正在加载中...</div>
				<div class="percent">0%</div>
			</div>
			<div class="cloud"></div>
			<div class="cp">出品：xxx公司出品</div>
	</div>

	<div class="item-wrap">
        <ul>
            <li class="cover">
                <div class="wrapper">
                    <div class="cover-text"></div>
                </div>               
            </li>

            <li class="choose">
            	<div class="choose-text">
            		<p>你成了“《大家》国”的一名考生，你必须通过考试来获得你的功名！穿越了，给你一次重新做人的机会：</p>
            	</div>
            	<div class="btn">
            		<div class="boy move"></div>
            		<div class="girl move"></div>
            	</div>
            </li>

            <li class="main">
                <div class="share-btn"></div>
                <div class="person"></div>
                <div class="desk"></div>
                <div class="zhong_tools"></div>
                <div class="zhi_tools"></div>
                <div class="wen_tools"></div>
                <div class="xing_tools"></div>
                <div class="rui_tools"></div>

                <div class="btns">
                    <div class="zhong tools"  data-tools="zhong" data-lock="0"></div>
                    <div class="zhi tools" data-tools="zhi" data-lock="0"></div>
                    <div class="wen tools" data-tools="wen" data-lock="0"></div>
                    <div class="xing tools" data-tools="xing" data-lock="0"></div>
                    <div class="rui tools" data-tools="rui" data-lock="0"></div>
                    <div class="character tools move" data-tools="character" data-lock="0"></div>
                </div>

            </li>

            <li class="answer">
                <div class="answer-box">
                    <div class="title"></div>
                    <div class="result-options">
                        <div class="opt">
                            <span></span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                        <div class="opt">
                            <span></span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                        <div class="opt">
                            <span></span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                    </div>
                    <div class="num-count"><span>1</span>/3</div>
                </div>

                <div class="tips_success">
                    <div class="result-wp">
                        <div class="title">解锁成功</div>
                        <div class="result-flag"></div>
                        <div class="result-text">获得道具</div>
                    </div>
                </div>

                <div class="tips_fail">
                    <div class="result-wp">
                        <div class="title">解锁失败</div>
                    </div>
                </div>

                <div class="renwu">
                    <div class="result-wp">
                        <div class="title"></div>                       
                        <div class="result-text">恭喜你，人物形象升级为</div>
                        <div class="result-flag">太监</div>
                    </div>
                </div>

                
            </li>
        </ul>
    </div>
	    
<script src="../public/js/index.js"></script>
</body>
</html>