html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,i,b,s{margin:0;padding:0;border:0;font-family:Helvetica,Arial}
ul,ol{list-style:none}
body,html{background-color: #fdeb01;overflow: hidden;width: 100%;height: 100%;}
.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f3f2ee;
}
.loading .loading-text-wrap{
		width: 100vw;
		height: 70.625vw;
		background: url(../img/loading_bg.png?v=d241dcf696) 0 0 no-repeat /cover;
		position: absolute;
		left: 0;
		top: 40.156vw;
	}
.loading .loading-text-wrap .text{
			position: absolute;
			text-align: center;
			width: 100%;
			top: 52.656vw;
			left: 0;
			color: #7f7f7f;
			font-size: 2.813vw;
		}
.loading .loading-text-wrap .percent{
			position: absolute;
			top: 60.625vw;
			left: 0;
			width: 100%;
			text-align: center;
			color: #5d5d5d;
			font-size: 5.625vw;
		}
.loading .cloud{
		position: absolute;
		width: 309.375vw;
		height: 75vw;
		background: url(../img/loading_cloud.png?v=8839c92b88) no-repeat 0 0 /cover;
		top: 88.906vw;
		left: 0;
	}
.loading .cp{
		position: absolute;
		width: 100%;
		bottom: 4.219vw;
		text-align: center;
		color: #707070;
		font-size: 3.125vw;
	}
@keyframes covertextam{
				0%{height:0;}
				10%{height: 3.438vw;}
				20%{height:9.063vw;}
				30%{height: 11.719vw;}
				40%{height: 16.094vw;}
				50%{height: 18.75vw;}
				60%{height: 22.188vw;}
				70%{height: 37.813vw;}
				95%{height: 43.75vw;}
				100%{height: 99.688vw;}				
			}
@keyframes gesture{
				100%{background-position: -159.375vw 0;}		
			}
@keyframes cat{
				100%{background-position: -51.875vw 0;}		
			}
.item-wrap{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transition: all 3s ease-in-out;
}
.item-wrap ul{
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		transition: all 3s ease-in-out;
	}
.item-wrap ul li{
			position: relative;
			height: 100%;
			width: 100%;
		}
.item-wrap ul .cover{
			background: url(../img/cover_bg.png?v=190145f4bc) 0 0 no-repeat /cover;
		}
.item-wrap ul .cover .wrapper{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
.item-wrap ul .cover .wrapper .cover-text{
				position: absolute;
				background: url(../img/cover_text.png?v=ff7e0810bc) 0 0 no-repeat /cover;
				width: 55.625vw;
				height: 99.688vw;
				top: 50%;
				left: 50%;
				margin: -46.875vw 0 0 -28.125vw;
				}
.item-wrap ul .cover .cover-text-am{animation:covertextam 8s linear both;}
.item-wrap ul .choose{
			display: none;
			background: url(../img/choose_bg.png?v=c0b0f4f5bf) 0 0 no-repeat /cover;
		}
.item-wrap ul .choose .choose-text{
				position: absolute;
				left: 8.438vw;
				top: 42.188vw;
				text-align: center;
				width: 83.125vw;
				height: 30.938vw;
				line-height: 7.813vw;
				font-size: 4.063vw;
				color: #333;
			}
.item-wrap ul .choose .choose-text p{text-align: left;}
.item-wrap ul .choose .btn{
				position: absolute;
				left: 8.438vw;
				top: 72.969vw;
				width: 83.125vw;
			}
.item-wrap ul .choose .btn .boy{
					position: absolute;
					left: 7.5vw;
					width: 22.5vw;
					height: 46.406vw;
					background: url(../img/choose_boy.png?v=7391412ff4) 0 0 no-repeat /cover;
				}
.item-wrap ul .choose .btn .girl{
					position: absolute;
					left: 50.938vw;
					top: 0;
					width: 22.5vw;
					height: 46.406vw;
					background: url(../img/choose_girl.png?v=456049a5c3) 0 0 no-repeat /cover;
				}
.item-wrap ul .main{
			display: none;
			background-color: #f3f2ee;
			background: url(../img/mainscene_bg.png?v=0275158b09) 0 100% no-repeat /cover;
		}
.item-wrap ul .main .share-btn{
				background: url(../img/share_btn.png?v=d6e77e02e3) no-repeat 0 0 /cover;
				width: 7.656vw;
				height: 21.25vw;
				position: absolute;
				top: 6.25vw;
				right: 5.625vw;
			}
.item-wrap ul .main .person{
				background: url(../img/ms_taijian.png?v=8597bc9ca2) no-repeat 0.625vw 0/cover;
				width: 70.313vw;
				height: 101.875vw;
				position: absolute;
				bottom: 40.781vw;
				right: 15.625vw;
				animation: gesture 1.8s steps(2,end) infinite;
				z-index: 1;
			}
.item-wrap ul .main .desk{
				background: url(../img/mainscene_table.png?v=02b814ee42) 0 0 no-repeat /cover;
				width: 94.219vw;
				height: 35.625vw;
				position: absolute;
				right: 5.469vw;
				bottom: 40.781vw;
				z-index: 2;
			}
.item-wrap ul .main .zhong_tools{
				display: none;
				background: url(../img/answer_zhong.png?v=2e19a4d0fb) 0 0 no-repeat /cover;
				width: 81.875vw;
				height: 34.063vw;
				position: absolute;
				right: 10.156vw;
				top: 15.625vw;
			}
.item-wrap ul .main .zhi_tools{
				display: none;
				background: url(../img/answer_zhi.png?v=cd3d71d6a4) 0 0 no-repeat /cover;
				width: 125.937vw;
				height: 135.313vw;
				position: absolute;
				right: 2.344vw;
				top: 23.438vw;
			}
.item-wrap ul .main .wen_tools{				
				display: none;
				background: url(../img/answer_wen.png?v=60989a6b90) 0 0 no-repeat /cover;
				width: 70.313vw;
				height: 14.844vw;
				position: absolute;
				right: 18.75vw;
				top: 89.844vw;
				z-index: 3;
			}
.item-wrap ul .main .xing_tools{
				display: none;
				background: url(../img/mainscene_xing_cat.png?v=463003f1b4) 0 0 no-repeat /cover;
				width: 25.938vw;
				height: 26.563vw;
				position: absolute;
				left: 9.375vw;
				top: 120.313vw;
				z-index: 2;
				animation: cat 1.8s steps(2,end) infinite;
			}
.item-wrap ul .main .rui_tools{
				display: none;
				background: url(../img/mainscene_rui_bi.png?v=392e7b8d70) 0 0 no-repeat /cover;
				width: 6.719vw;
				height: 14.844vw;
				position: absolute;
				left: 13.281vw;
				top: 87.5vw;
				z-index: 2;
			}
.item-wrap ul .main .btns{
				background: #292929;
				position: absolute;;
				bottom: 0;
				right: 0;
				height: 22.031vw;
				width: 100%;
			}
.item-wrap ul .main .btns .zhong{
					background: url(../img/mainscene_zhong.png?v=86eae17a7a) 0 0 no-repeat /cover;
					width: 14.063vw;
					height: 21.719vw;
					position: absolute;
					bottom: 0px;
					left: 0px;
				}
.item-wrap ul .main .btns .zhi{
					background: url(../img/mainscene_zhi.png?v=b2b4560ad7) 0 0 no-repeat /cover;
					width: 14.063vw;
					height: 21.719vw;
					position: absolute;
					bottom: 0px;
					left: 14.063vw;
				}
.item-wrap ul .main .btns .wen{
					background: url(../img/mainscene_wen.png?v=aecd3cb309) 0 0 no-repeat /cover;
					width: 14.063vw;
					height: 21.719vw;
					position: absolute;
					bottom: 0px;
					left: 28.125vw;
				}
.item-wrap ul .main .btns .xing{
					background: url(../img/mainscene_xing.png?v=5792bdda90) 0 0 no-repeat /cover;
					width: 14.063vw;
					height: 21.719vw;
					position: absolute;
					bottom: 0px;
					left: 42.188vw;
				}
.item-wrap ul .main .btns .rui{
					background: url(../img/mainscene_rui.png?v=4e22f918f3) 0 0 no-repeat /cover;
					width: 14.063vw;
					height: 21.719vw;
					position: absolute;
					bottom: 0px;
					left: 56.25vw;
				}
.item-wrap ul .main .btns .light{
					background-position:0 -22.031vw;
				}
.item-wrap ul .main .btns .character{
					background: url(../img/mainscene_upgrade.png?v=db67813b38) 0 0 no-repeat /cover;					
					width: 28.75vw;
					height: 34.688vw;
					position: absolute;
					bottom: 0px;
					left: 69.844vw;
				}
.item-wrap ul .answer{
			display: none;
			background: url(../img/answer_bg.png?v=daa66670e1) 0 0 no-repeat /cover;
		}
.item-wrap ul .answer .answer-box .title{
					line-height: 9.688vw;
					font-size: 4.688vw;
					color: #000;
					position: absolute;
					width: 83.75vw;
					height: 19.375vw;
					left: 7.813vw;
					top: 18.75vw;
				}
.item-wrap ul .answer .answer-box .result-options{
					position: absolute;
					left: 7.813vw;
					top: 55.313vw;
				}
.item-wrap ul .answer .answer-box .result-options .opt{
						position: relative;
						margin-bottom: 6.25vw;
						border-radius: 1.094vw;
						box-sizing: content-box;
						padding: 1.875vw 0 0 3.438vw;
						width: 81.25vw;
						height: 17.656vw;
						background-color: white;
					}
.item-wrap ul .answer .answer-box .result-options .opt span{font-size: 4.063vw;}
.item-wrap ul .answer .answer-box .result-options .opt .animation-correct{
							display: none;
							background: url(../img/answer_correct.png?v=511864af19) 0 0 no-repeat /cover;
							width: 12.188vw;
							height: 10.938vw;
							position: absolute;
							right: 3.906vw;
							top: 2.813vw;
						}
.item-wrap ul .answer .answer-box .result-options .opt .animation-wrong{
							display: none;
							background: url(../img/answer_wrong.png?v=7fe9164255) 0 0 no-repeat /cover;
							width: 12.188vw;
							height: 10.938vw;
							position: absolute;
							right: 3.906vw;
							top: 2.813vw;
						}
.item-wrap ul .answer .answer-box .result-options .current{background-color: #e0ded7;}
.item-wrap ul .answer .answer-box .num-count{
					position: absolute;
					top: 150.313vw;
					left: 0;
					width: 100%;
					text-align: center;
					font-size: 5.625vw;
					color: #333; 
				}
.item-wrap ul .answer .answer-box .num-count span{
						color: #da464d;
					}
.item-wrap ul .answer .tips_success{
				display: none;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.6);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}
.item-wrap ul .answer .tips_success .result-wp{
					background: url('../img/answer_success_bg.png?v=25dac38e85') 0 0 no-repeat /cover;
					width: 88.75vw;
					height: 88.75vw;
					position: absolute;
					left: 4.844vw;
					top: 45vw;
				}
.item-wrap ul .answer .tips_success .result-wp .title{
						font-size: 11.719vw;
						color: #ce3e3e;
						margin-top: 18.75vw;
						text-align: center;
						line-height: 11.094vw;
					}
.item-wrap ul .answer .tips_success .result-wp .result-flag{
	                	background: url('../img/answer_treasure.jpg?v=f88e04aa55') 0 0 no-repeat /cover;
	                	width: 18.125vw;
						height: 18.125vw;
						margin: 10% auto;
		                }
.item-wrap ul .answer .tips_success .result-wp .result-text{
	                	text-align: center;
	                	width: 100%;
	                }
.item-wrap ul .answer .tips_fail{
				display: none;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.6);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}
.item-wrap ul .answer .tips_fail .result-wp{
					background: url('../img/answer_failed_bg.png?v=0e9c1289ae') 0 0 no-repeat /cover;
					width: 88.438vw;
					height: 89.219vw;
					position: absolute;
					left: 4.844vw;
					top: 45vw;
				}
.item-wrap ul .answer .tips_fail .result-wp .title{
						font-size: 11.719vw;
						color: #ce3e3e;
						margin-top: 18.75vw;
						text-align: center;
						line-height: 11.094vw;
					}
.item-wrap ul .answer .renwu{
				display: none;
				background: url('../img/pop_renwu_bg.png?v=c39ed58f75') 0 0 no-repeat /cover;
				width: 100vw;
				height: 157.656vw;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				background-color: #f2f1ec;
				width: 100%;
				height: 100%;
			}
.item-wrap ul .answer .renwu .result-wp .title{
						color: #ce3e3e;
						font-size: 11.719vw;
						position: absolute;
						top: 52.969vw;
						text-align: center;
						width: 100%;
					}
.item-wrap ul .answer .renwu .result-wp .result-flag{
						background: url('../img/upgrade_btn.png?v=0d3b547f5f') 0 0 no-repeat /cover;
						width: 38.281vw;
						height: 15.156vw;
						position: absolute;
						top: 84.219vw;
						left: 30.312vw;
						color: #fff;
						font-size: 9.375vw;
						text-align: center;
						line-height: 15.156vw;
					}
.item-wrap ul .answer .renwu .result-wp .result-text{
						color: #333;
						font-size: 3.75vw;
						position: absolute;
						text-align: center;
						top: 70.625vw;
						width: 100%;
					}